<main data-controller="room">
    <section id="field">
        <div id="container">
            <div data-action="click->room#handleClick" data-room-cell-value="1" class="cell"></div>
            <div id="1" class="cell"></div>
            <div id="2" class="cell"></div>
            <div id="3" class="cell"></div>
            <div id="4" class="cell"></div>
            <div id="5" class="cell"></div>
            <div id="6" class="cell"></div>
            <div id="7" class="cell"></div>
            <div id="8" class="cell"></div>
        </div>
    </section>
    <section id="sidebar">
        <p id="player1">Player 1</p>
        <p id="player2">Player 2</p>
        <div id="turns">
            <p id="titleTurns">Nuber of turns</p>
            <p id="numberTurns">0</p>
        </div>
        <h2 id="status"></h2>
        <button id="restart">PLAY AGAIN</button>
    </section>
</main>